
.icon-qq:before
{
    content: '\e800';
}

/* '' */
.icon-weibo:before
{
    content: '\e801';
}

/* '' */
.icon-phone:before
{
    content: '\e802';
}

/* '' */
.icon-mail:before
{
    content: '\e803';
}

/* '' */
.icon-mail-alt:before
{
    content: '\e804';
}

/* '' */
.icon-wechat:before
{
    content: '\e805';
}

/* '' */
.icon-github-circled:before
{
    content: '\e806';
}

/* '' */
.icon-github:before
{
    content: '\e807';
}

/* '' */
.icon-whatsapp:before
{
    content: '\e808';
}

/* '' */
.icon-twitter:before
{
    content: '\e809';
}

/* '' */
.icon-youtube:before
{
    content: '\e80a';
}

/* '' */
.icon-youtube-squared:before
{
    content: '\e80b';
}

/* '' */